.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  text-align: center;
  margin: 50px;
}

.product-container {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  height: 400px;
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.image-size {
  object-fit: cover;
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px 15px #888888;
  border-radius: 10px;
}

.price-text {
  font-weight: bold;
  font-size: 18px;
}

.margin-10 {
  margin-left: 10px;
}

/* react-responsive-carousel */

.carousel-box {
  border: 1px solid black;
  border-radius: 10px;
}

.carousel .thumbs {
  padding: 0px 0px 0px 0px;
}

.carousel .thumbs-wrapper {
  display: flex;
  justify-content: center !important;
  margin: 0 !important;
}

.carousel.carousel-slider .control-arrow {
  bottom: 20px !important;
  top: 200px !important;
  color: black !important;
}

.carousel .thumb {
  border-radius: 10px;
  box-shadow: 3px 3px 10px #888888;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 3px solid green !important;
  border-radius: 10px;
}

.carousel .thumb.selected {
  border: 3px solid green !important;
  border-radius: 10px;
}

.carousel .carousel-status {
  bottom: 0px !important;
  font-size: 15px !important;
}
